@import "./variable";
@import "./font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: calc(100vw / 3.75);
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  font-size: 0.13rem;
  background-color: @bgColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea {
  border: none;
  font-size: 0.13rem;
  -webkit-appearance: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:focus, textarea:focus,
select:focus, button:focus, .btn:focus {
  outline: none;
}

em, i {
  font-style: normal;
}

li, ul {
  list-style: none;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn, button {
  border: none;
  background-color: transparent;
}

.icon-next {
  color: #c8c7cd;
}

.clear {
  display: block;
  clear: both;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.col-xs-6 {
  width: 50%;
  float: left;
}

.borderNone {
  border: none !important;
}

.module {
  margin-bottom: 0.1rem;
  background-color: @white;
  box-shadow: 0 0 15px rgba(0, 0, 0, .05);
  .title {
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0 0.15rem;
    font-weight: normal;
    font-size: 0;
    border-bottom: 1px solid @borderColor2;
    &:before {
      content: '';
      margin-right: 0.1rem;
      display: inline-block;
      vertical-align: middle;
      border-top: 0.06rem solid transparent;
      border-bottom: 0.06rem solid transparent;
      border-left: 0.1rem solid @activeColor;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.14rem;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  background-color: @mask;
}

.weui-toast {
  width: 1rem;
  .weui-loading {
    margin: 20px 0 6px;
  }
}

/*路由切换动画*/
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  will-change: transform;
  transition: all 500ms ease;
  background-color: @bgColor;
}

.slide-right-enter {
  /*opacity: 0;*/
  transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-active {
  /*opacity: 0;*/
  transform: translate3d(100%, 0, 0);
}

.slide-left-enter {
  /*opacity: 0;*/
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-active {
  /*opacity: 0;*/
  transform: translate3d(-100%, 0, 0);
}
