@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b1exys');
  src:  url('../fonts/icomoon.eot?b1exys#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b1exys') format('truetype'),
    url('../fonts/icomoon.woff?b1exys') format('woff'),
    url('../fonts/icomoon.svg?b1exys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hospital:before {
  content: "\e900";
}
.icon-hospital1:before {
  content: "\e901";
  color: #3fa711;
}
.icon-report:before {
  content: "\e902";
}
.icon-money:before {
  content: "\e903";
}
.icon-stay:before {
  content: "\e904";
}
.icon-navigation:before {
  content: "\e905";
}
.icon-print:before {
  content: "\e906";
}
.icon-account:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e908";
}
.icon-change:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-add:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-culture:before {
  content: "\e90d";
}
.icon-file:before {
  content: "\e90e";
}
.icon-hospital2 .path1:before {
  content: "\e90f";
  color: rgb(209, 232, 211);
}
.icon-hospital2 .path2:before {
  content: "\e910";
  margin-left: -1.19140625em;
  color: rgb(211, 238, 215);
}
.icon-hospital2 .path3:before {
  content: "\e911";
  margin-left: -1.19140625em;
  color: rgb(35, 172, 56);
}
.icon-hospital2 .path4:before {
  content: "\e912";
  margin-left: -1.19140625em;
  color: rgb(255, 255, 255);
}
.icon-hospital2 .path5:before {
  content: "\e913";
  margin-left: -1.19140625em;
  color: rgb(35, 172, 56);
}
.icon-hospital2 .path6:before {
  content: "\e914";
  margin-left: -1.19140625em;
  color: rgb(255, 255, 255);
}
.icon-hospital2 .path7:before {
  content: "\e915";
  margin-left: -1.19140625em;
  color: rgb(35, 172, 56);
}
.icon-hospital2 .path8:before {
  content: "\e916";
  margin-left: -1.19140625em;
  color: rgb(255, 255, 255);
}
.icon-hospital2 .path9:before {
  content: "\e917";
  margin-left: -1.19140625em;
  color: rgb(35, 172, 56);
}
.icon-hospital2 .path10:before {
  content: "\e918";
  margin-left: -1.19140625em;
  color: rgb(35, 172, 56);
}
.icon-hospital2 .path11:before {
  content: "\e919";
  margin-left: -1.19140625em;
  color: rgb(255, 255, 255);
}
.icon-hospital2 .path12:before {
  content: "\e91a";
  margin-left: -1.19140625em;
  color: rgb(255, 255, 255);
}
.icon-hospital2 .path13:before {
  content: "\e91b";
  margin-left: -1.19140625em;
  color: rgb(35, 172, 56);
}
.icon-hospital2 .path14:before {
  content: "\e91c";
  margin-left: -1.19140625em;
  color: rgb(211, 238, 215);
}
.icon-before:before {
  content: "\e91d";
}
