@white: #ffffff;
@black: #000000;
@bgColor: #f2f2f2;
@offColor: #d8d8d8;
@fontColor: #818181;
@fontColor1: #333333;
@fontColor2: #666666;
@fontColor3: #999999;
@activeColor: #ed7f2d;
@borderColor: #e6e6e6;
@buttonColor: #5197ef;
@statusColor: #00ff4c;
@borderColor2: #cccccc;
@borderColor3: #808080;
@buttonColor2: #0062eb;
@activeBorder: #0062eb;
@buttonDisabled: #5197ef;
@userCenterIconColor: #1773e9;
@userCenterIconBgColor: #dbebff;
@border: 0.5px solid #f0f0f0;
@tableBorder: 0.5px solid #cccccc;
@mask: rgba(0, 0, 0, .5);
@boxShadow: 0 0 15px rgba(0, 0, 0, .05);
@boxShadow1: 2px 2px 15px rgba(0, 0, 0, .15);
@boxShadow2: 0px 0px 15px rgba(0, 0, 0, .15);
@borderRadius: 0.04rem;
@borderRadius2: 0.06rem;
